---
import BulletList from "../icons/BulletList.astro";
import CameraWhite from "../icons/CameraWhite.astro";
import Settings from "../icons/Settings.astro";
import User from "../icons/User.astro";
import { EstablishmentModel } from "../models/establishment.js";

const user = Astro.locals.user;
const { establishment_id } = user

const establishment = await EstablishmentModel.getOne({establishment_id})
---

<aside class="bg-primary hidden md:flex flex-col justify-between w-72 p-4 color-white rounded-l-xl text-white">
    <ul>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1" href="/video-list">
                <BulletList />
                <span>Lista de videos</span>
            </a>
        </li>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1" href="/video-list">
                <CameraWhite />
                <span>Grabar</span>
            </a>
        </li>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1" href="/config">
                <Settings />
                <span>Configuracion</span>
            </a>
        </li>
    </ul>
    <div class="flex gap-2 items-center">
        <User />
        <span class="text-2xl">{establishment.name}</span>
    </div>
</aside>