---
import { ClipsModel } from "../models/clips";
import LayoutEstablishment from "../layouts/LayoutEstablishment.astro";
import Clip from "../components/Clip.astro";

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

if(user.role !== 'A'){
	return Astro.redirect("/sign-in");
}

const clips = await ClipsModel.getAll()
---

<LayoutEstablishment title="Clips / SportsCamera!">
	<section class="bg-white h-full md:rounded-r-xl text-center z-0 w-full md:overflow-hidden">
		<strong class="font-medium text-2xl md:text-3xl text-primary text-nowrap">Lista de clips</strong>
		<div>
            {clips ? clips.map(({ title, inserted_at, key })=>{
                return
                <Clip title={title} inserted_at={inserted_at} key={key} />
            }) : <span>No existen clips</span>}
        </div>
	</section>
    <script is:inline src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</LayoutEstablishment>