---
import Navbar from "../components/Navbar.astro";
import Copy from "../icons/Copy.astro";
import LayoutEstablishment from "../layouts/LayoutEstablishment.astro";

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

if(user.role !== 'A' && user.role !== 'E'){
    return Astro.redirect("/sign-in");
}

const pago = user.payment

const today = new Date();
let month = new Intl.DateTimeFormat('es-ES', { month: 'long'}).format(today).toUpperCase();
if (!pago && today.getDate() <= 7) {
    const lastMonthDate = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
    month = new Intl.DateTimeFormat('es-ES', { month: 'long'}).format(lastMonthDate).toUpperCase();
}

if(Astro.request.method === 'POST'){
	const formData = await Astro.request.formData()
	const file = formData.get('file')
	console.log(file)
}
---
<LayoutEstablishment title="Payment / Sportscamera!">
    <section class="bg-white w-full  h-full md:rounded-r-xl text-center z-0 ">
		<strong class="font-medium text-2xl md:text-3xl text-primary text-nowrap">Pago suscripción</strong>
        <div class="p-3">
        {pago ? <h3 class="text-green-300 text-2xl my-3">Usted ha abonado el mes de <strong>{month}</strong></h3>
                <p>Recordá que el abono se realiza en los primeros 7 días del mes.</p>
        :
            <h3 class="text-red-500 text-2xl my-3">Usted no ha abonado el mes de <strong>{month}</strong></h3>
            <p>Realiza el pago por un monto de <strong class="text-primary">$20.000</strong> a la siguiente cuenta</p>
            <div class="flex flex-col my-5">
                <div class="flex items-center text-center justify-center gap-2 text-xl"><span class="font-semibold">CVU: </span><span id="cvu">12345969496396</span><button id="copy_btn"><Copy /></button></div>
                <span class="font-semibold text-xl">Alias: <span class="font-normal text-xl">bruno.munne</span></span>
                <span class="font-semibold text-xl">Nombre: <span class="font-normal text-xl">Bruno Munne</span></span>
            </div>
            <p>Enviar comprobante al mail: <strong>sportscamera123@gmail.com</strong></p>
            <form id="form" method="POST">
                <h1>Envía tu comprobante</h1>
                <div id="drop_zone" class="w-96 h-96 flex items-center justify-center cursor-pointer text-center flex-col border-dashed border-blue-400">
                    <input type="file" name="file" id="file_input" style="display:none;"/>
                    <p>Arrastra y suelta tu archivo o busca en local.</p>
                    <span id='file_name' class="text-red-400"></span>
                </div>
                <button type="submit" id="send_file">Enviar</button>
            </form>
            <script>
                const cvu = document.getElementById('cvu').innerText
                document.getElementById('copy_btn').addEventListener("click", async()=>{
                    await navigator.clipboard.writeText(cvu);
                })

                const form = document.getElementById('form')
                const dropZone = document.getElementById('drop_zone');
                const fileInput = document.getElementById('file_input');
                const fileName = document.getElementById('file_name')
                const sendFileBtn = document.getElementById("send_file")

                dropZone.addEventListener('click', e => fileInput.click());

                dropZone.addEventListener('dragover', function(e){
                    e.preventDefault();
                    this.classList.remove('border-blue-400');
                    this.classList.add('border-red-400');
                    this.classList.add('text-red-400');
                });

                dropZone.addEventListener('dragleave', function(e){
                    e.preventDefault();
                    this.classList.add('border-blue-400');
                    this.classList.remove('border-red-400');
                    this.classList.remove('text-red-400');
                });

                dropZone.addEventListener('drop', function(e){
                    e.preventDefault();
                    this.classList.add('border-blue-400');
                    this.classList.remove('border-red-400');
                    this.classList.remove('text-red-400');
                    const files = e.dataTransfer.files;
                    if (files.length > 0) {
                        handleFileUpload(files[0]);
                    }
                });

                fileInput.addEventListener('change', e => {
                    const files = e.target.files;
                    if (files.length > 0) {
                        handleFileUpload(files[0]);
                    }
                });

                function handleFileUpload(file) {
                    fileName.innerText = file.name
                }

                sendFileBtn.addEventListener('click', function(){
                    sendFileBtn.disabled = true
                    const file = fileInput.files[0];
                    const formData = new FormData();
                    formData.append("userfile", file);
                    
                })
            </script>
        }
        </div>
	</section>
</LayoutEstablishment>