---
import Layout from '../layouts/Layout.astro';
import FormSearchVideoUser from '../components/FormSearchVideoUser.jsx'
import { VideosModel } from '../models/videos';
import ListVideos from '../components/VideoList.jsx';
import Navbar from '../components/Navbar.astro';

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

if (!user.payment) {
	return Astro.redirect("/payment");
}

const { establishment_id } = user

if (!establishment_id){
    Astro.cookies.delete('auth_session')
    return Astro.redirect("/sign-in");
}
const videos = await VideosModel.getAll({ establishment_id });
---

<Layout title="SportsCamera!">
	<Navbar />
	<section class="search_video grid bg-white h-full  md:rounded-r-xl px-5 text-center gap-y-4 md: gap-x-20">
		<strong class="font-medium text-2xl md:text-3xl text-primary text-nowrap h-fit">Videos del establecimiento</strong>
        <section class="video_list w-full md:w-[450px] h-full overflow-hidden">
            <ListVideos videos={videos} client:visible />
        </section>
        <section class="filter flex flex-col gap-2 w-full md:w-[200px]">
            <strong class="text-start text-xl text-primary font-medium text-nowrap">Buscar video</strong>
            {videos ? <FormSearchVideoUser establishment_id={establishment_id} client:visible /> : <span>No hay videos</span>}
        </section>
	</section>
</Layout>
<style>
	.search_video{
        grid-template-areas: 
            "title title"
            "video-list filter";
        grid-template-columns: min-content;
        grid-template-rows: min-content;
		& strong{
            grid-area: title;
		}
        & .video_list{
            grid-area: video-list;
        }

        & .filter{
            grid-area: filter;
        }
	}
    @media (max-width: 1000px) {
        .video_list{
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        .search_video{
            grid-template-areas: 
            "title title"
            "filter filter"
            "video-list video-list";
        }
    }
</style>