---
    const { key, title, inserted_at } = Astro.props

    const date = new Date(inserted_at);

    const formattedDate = date.toLocaleString('es-AR', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
    });
---

<div class="flex flex-col items-start px-2">
    <div>
        <span class="text-primary font-semibold text-lg mr-5">{title}</span>
        <time>{formattedDate }</time>
    </div>
    <video id={key} class="object-cover" controls width="640" height="360"></video>
</div>
<script is:inline define:vars={{ key }}>
    const video = document.getElementById(key)
    video.addEventListener('play', ()=>{
        if (Hls.isSupported()) {
            const hls = new Hls();
            hls.attachMedia(video);
            hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                hls.loadSource(`/api/videos/getVideo/${key}`);
                video.play();
            });
        }
    })
</script>