---
const { message, redirect, hidden} = Astro.props
---

<section class={`absolute gap-3 flex flex-col items-center justify-center w-full h-full bg-red-300 top-0 left-0 ${hidden && 'hidden'} `} id="error_toast">
    <span class="flex justify-center items-center bg-red-500 text-white rounded-full h-[200px] w-[200px] text-center text-9xl animate-rubberband">X</span>
    <span class="text-white text-2xl md:text-4xl text-center">{message}</span>
</section>


{!hidden && <script define:vars={{ redirect }}>
                if(redirect )
                    setTimeout(() => {
                        window.location.href = redirect
                    }, 2000);
            </script>
}