---
import BulletList from "../icons/BulletList.astro";
import CameraWhite from "../icons/CameraWhite.astro";
import Logout from "../icons/Logout.astro";
import Settings from "../icons/Settings.astro";
import User from "../icons/User.astro";
import { EstablishmentModel } from "../models/establishment.js";

const user = Astro.locals.user;
const { establishment_id } = user

const establishment = await EstablishmentModel.getOne({establishment_id})
---

<button class="absolute top-0 left-2 z-20 md:hidden rounded-xl text-primary container" onclick="navbarToggleIcon(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</button>
<aside class="bg-primary absolute top-0 left-0 h-screen w-full z-10 text-white flex flex-col p-10 justify-between text-2xl hidden md:static md:flex md:h-full md:w-fit md:rounded-l-xl md:p-4 md:pr-16 md:text-xl" id="navbar">
    <ul>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1 text-nowrap items-center" href="/video-list">
                <BulletList />
                <span>Lista de videos</span>
            </a>
        </li>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1 text-nowrap items-center" href="/video-list">
                <CameraWhite />
                <span>Grabar</span>
            </a>
        </li>
        <li>
            <a class="w-full flex gap-2 hover:bg-[#a262a3] rounded-xl py-3 px-1 text-nowrap items-center" href="/config">
                <Settings />
                <span>Configuracion</span>
            </a>
        </li>
    </ul>
    <div class="flex gap-2 items-center hover:bg-[#a262a3] w-full rounded-xl py-3 px-1 relative" onclick="logoutToggleIcon(this)">
        <User />
        <span class="text-2xl truncate max-w-48">{establishment.name}</span>
        <button class="hidden absolute left-48" id="logout_btn" onclick="logout()"><Logout /></button>
    </div>
</aside>
<script is:inline>
    function navbarToggleIcon(x) {
        x.classList.toggle("change");
        if(!x.classList.contains("change")){
            return document.getElementById('navbar').classList.add('hidden')
        }
        return document.getElementById('navbar').classList.remove('hidden')
    }
    function logoutToggleIcon(x) {
        x.querySelector('#logout_btn').classList.toggle("hidden");
    }
    async function logout() {
        const response = await fetch('api/user/logout', {
            method:'POST',
            headers: {
				'Content-Type': 'application/json'
			},
        })
        if(response.ok) window.location.href = response.headers.get('Location')
    }
</script>
<style>
    .container {
        display: inline-block;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        background-color: var(--color-primary);
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        background-color: var(--color-white);
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        background-color: var(--color-white);
        transform: translate(0, -11px) rotate(45deg);
    }
    @media (min-width: 768px) {
        .container {
            display: none;
        }
    }
</style>
