---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Input from "../components/Input.astro"
import { EstablishmentModel } from "../models/establishment";
import { CameraModel } from "../models/camera";
import Button from "../components/Button.astro";
import Establishment from "../icons/Establishment.astro";
import Camera from "../icons/Camera.astro";

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

const { establishment_id } = user

const establishment = await EstablishmentModel.getOne({ establishment_id })

const cameras = await CameraModel.getAll({establishment_id});

---

<Layout title="SportsCamera!">
	<Navbar />
	<section class="bg-white h-full w-full md:rounded-r-xl text-center">
		<strong class="font-medium text-2xl md:text-3xl text-primary text-nowrap">Configuracion</strong>
        <div class="flex flex-col justify-between text-start h-full">
            <div>
                <strong>Establecimiento</strong>
                <div class="flex flex-wrap gap-3 my-2">
                    <Input placeholder="Nombre" value={establishment.name} type="text" required>
                        <Establishment />
                    </Input>
                    {cameras.map(({ field_name })=>{
                        return <Input type="text" value={field_name} required>
                            <Camera />
                        </Input>
                    })}
                </div>
            </div>
            <div class="flex justify-end">
                <Button id="logout_btn">CERRAR SESION</Button>
                <Button>GUARDAR CAMBIOS</Button>
            </div>
        </div>
	</section>
    <script>
        document.getElementById('logout_btn').addEventListener('click',async ()=>{
            const response = await fetch('api/user/logout', {
                method:'POST',
                headers: {
					'Content-Type': 'application/json'
				},
            })
            if(response.ok) window.location.href = response.headers.get('Location')
        })
    </script>
</Layout>