---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro'
import Name from "../icons/Name.astro"
import Email from "../icons/Email.astro"
import nodemailer from "nodemailer"

let error = ''
if(Astro.request.method === 'POST'){
    try {
		const data = await Astro.request.formData();
		const email = data.get("email");
		const name = data.get("name");
        const message = data.get("message");

		if (!email || !name || !message)
			error = 'Los campos son requeridos'
        else{
            const transporter = nodemailer.createTransport({
                service: 'gmail',
                auth: {
                    user: import.meta.env.EMAIL,
                    pass: import.meta.env.EMAIL_PASSWORD,
                },
            });
            const mailOptions = {
                from: email,
                to: import.meta.env.EMAIL,
                subject: 'Form Contact',
                text: message,
            };
            transporter.sendMail(mailOptions, (error) => {
                if (error) return error = 'Error al enviar el mensaje'
                return Astro.redirect('/')
            });
        }

	} catch (error) {
		if (error instanceof Error) {
		console.error(error.message);
		}
	}
}
---

<Layout title="SportsCamera!">
    <section class="relative bg-white rounded-xl px-5 py-10 md:px-20 flex flex-col items-center justify-center">
        <a class="w-7 h-7 absolute top-[9%] left-10 cursor-pointer" href="/">
            <svg width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#969696" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" />
            </svg>
        </a>
            <strong class="text-5xl text-primary font-medium">Contactanos</strong>
            <form method="POST" class="flex flex-col items-center gap-5 mt-5">
                <div class="flex justify-between gap-10 w-full">
                    <Input placeholder="Nombre" name="name" type="text" required>
                        <Name />
                    </Input>
                    <Input placeholder="Email" name="email" type="email" required>
                        <Email />
                    </Input>
                </div>
                <textarea name="message" placeholder="Escribe el mensaje" class="bg-white border-2 outline-0 border-primary text-terciary w-full h-60 resize-none rounded-xl p-3 placeholder-terciary" required></textarea>
                {error && <span>{error}</span>}
                <button class="w-1/2 cursor-pointer rounded-2xl bg-primary border text-white text-l text-regular p-3 px-5">ENVIAR</button>
            </form>
    </section>
</Layout>