---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro'

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const password = data.get("password");
	
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<Layout title="SportsCamera!">
	<section class="bg-white h-full md:rounded-l-xl md:rounded-br-none flex flex-col gap-5 items-center justify-center px-20 py-20">
		<strong class="text-5xl text-primary font-medium text-nowrap">Iniciar Sesion</strong>
		<form class="flex flex-col gap-4" method="POST">
			<Input placeholder="Usuario" name="email" required type="email">
				<svg class="absolute top-1/2 left-2 translate-x-0 translate-y-[-50%] pointer-events-none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#969696" fill="none" strokde-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
				</svg>
			</Input>
			<Input placeholder="Contraseña" name='password' required type="password" minlength="8">
				<svg class="absolute top-1/2 left-2 translate-x-0 translate-y-[-50%] pointer-events-none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#969696" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" /><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M8 11v-4a4 4 0 1 1 8 0v4" />
				</svg>
			</Input>
			<button class="cursor-pointer rounded-2xl bg-primary border text-white text-l text-regular p-3 px-5">INICIAR SESION</button>
		</form>
		<a class="text-terciary cursor-pointer" href="/contact">Contactanos!</a>
	</section>
    <section class="bg-primary text-white text-center flex flex-col items-center justify-center h-1/2 md:rounded-r-xl md:rounded-tl-none gap-5 py-4 md:py-0">
		<h1 class="font-medium text-5xl">SportsCamera!</h1>
		<p class="m-0 font-light text-l w-3/4">Servicio de grabacion en establecimientos deportivos</p>
		<a class="rounded-2xl border p-3" href="/">BUSCAR VIDEO</a>
	</section>
</Layout>
<style>
	.search_video{
		width: 40%;
		background-color: #9F4AA0;
		text-align: center;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		border-radius: 0 10px 10px 0;
		gap:20px;
		& h1{
			font-weight: 600;
			font-size: xxx-large;
			margin:0;
		}
		& p{
			margin:0;
			width:200px;
			font-weight: lighter;
			font-size: medium;
		}
		& a{
            text-decoration: none;
			cursor: pointer;
			width: 200px;
			height: 50px;
			border-radius: 30px;
			text-align: center;
			background-color: transparent;
			border: solid 1px #fff;
			color:#fff;
		}
	}
</style>
