---
import Layout from '../layouts/Layout.astro';
import FormSearchVideoUser from '../components/FormSearchVideoUser.jsx'
import { VideosModel } from '../models/videos';
import VideoList from '../components/VideoList.jsx';
import Navbar from '../components/Navbar.astro';

const user = Astro.locals.user;
if (!user || !user.establishment_id) {
	return Astro.redirect("/sign-in");
}

const { establishment_id } = user

if (!establishment_id)
      return Astro.redirect("/sign-in");

const videos = await VideosModel.getAll({ establishment_id });

---

<Layout title="SportsCamera!">
	<Navbar />
	<section class="search_video grid bg-white h-full w-full md:rounded-r-xl md:gap-x-10 md:gap-y-5 px-5 text-center">
		<strong class="font-medium text-xl md:text-3xl text-primary text-nowrap">Videos del establecimiento</strong>
        <section class="video_list w-full">
            {videos ? <VideoList videos={videos} client:visible /> : <span>No hay videos</span>}
        </section>
        <section class="filter flex flex-col gap-2 w-full">
            <strong class="text-start text-xl text-primary font-medium text-nowrap">Buscar video</strong>
            {videos ? <FormSearchVideoUser establishment_id={establishment_id} client:visible /> : <span>No hay videos</span>}
        </section>
	</section>
</Layout>
<style>
	.search_video{
        grid-template-areas: 
            "title title"
            "video-list filter";
		& strong{
            grid-area: title;
		}
        & .video_list{

            grid-area: video-list;
        }

        & .filter{
            grid-area: filter;
        }
	}
    @media (max-width: 768px) {
        .search_video{
            grid-template-areas: 
            "title title"
            "filter filter"
            "video-list video-list";
        }
    }
</style>
../components/Modal.jsx/index.js