---
import Layout from "../../layouts/Layout.astro"
import Input from "../../components/Input.astro"
import Button from "../../components/Button.astro"
import Password from "../../icons/Password.astro"
import Success from "../../components/Success.astro"
import Error from "../../components/Error.astro"
import { isWithinExpirationDate } from "oslo";
import { sha256 } from "oslo/crypto";
import { encodeHex } from "oslo/encoding";
import { PasswordResetModel } from "../../models/password_reset.js";
import { lucia } from "../../auth.ts";
import { UserModel } from "../../models/user.js";
import { Argon2id } from "oslo/password";

const { token } = Astro.params

let error = ''
let success = ''
if(Astro.request.method === 'POST'){
	try {
		const data = await Astro.request.formData();
		const password = data.get("password");

		if(!password){
			error = "Los campos son requeridos"
		}
		else{
			const tokenHash = encodeHex(await sha256(new TextEncoder().encode(token)));
			const tokenRow = await PasswordResetModel.findTokenHash({ token_hash: tokenHash})

			if(tokenRow){
				await PasswordResetModel.deleteTokenHash({ token_hash: tokenHash })
			}

			if (!tokenRow || !isWithinExpirationDate(tokenRow.expires_at)){
				error = 'Token invalido'
			}
			else{
				await lucia.invalidateUserSessions(tokenRow.user_id);
				const argon2id = new Argon2id();
				const hashedPassword = await argon2id.hash(password);
				await UserModel.updatePassword({ password: hashedPassword, id: tokenRow.user_id })

				const session = await lucia.createSession(tokenRow.user_id, {});
				const sessionCookie = lucia.createSessionCookie(session.id);
				success = "Contraseña reestablecida con exito"
				Astro.cookies.set(sessionCookie.name, sessionCookie.value, sessionCookie.attributes)
			}
		}
	} catch (error) {
		console.error(error);
	}
}
---

<Layout>
    <form method='POST' class="bg-white flex flex-col items-start justify-center px-12 py-10 rounded-xl w-full gap-5 h-full md:h-fit" id="change_password">
		<strong class="text-2xl text-primary">Elige una contraseña nueva</strong>
		<p class="text-wrap max-w-96">Asegúrate de que tu contraseña tenga 5 caracteres o más. Intenta que incluya números, letras y signos de puntuación para que sea una contraseña segura.</p>
        <Input placeholder="Contraseaña" name="password" id="password_inp" minlength="5" required>
            <Password />
        </Input>
        {error === "Los campos son requeridos" && <span class="text-center text-red-500 text-sm " id="errorSpan">{error}</span>}
        <Button type="submit" id="change_password_btn">
            <span id="content_btn">CAMBIAR CONTRASEÑA</span>
            <div class='w-6 h-6 border-4 border-ice border-l-transparent rounded-full animate-spin hidden' id="spinner"></div>
        </Button>
    </form>
	{success && <Success message={success} redirect="/" />}
	{error === 'Token invalido'  && <Error message={error} redirect="/" />}
</Layout>